# PyAudio dep. for SpeechRecognition use
wheel
./third_party/PyAudio-0.2.11-cp37-cp37m-win_amd64.whl

# Version-specific installs
tornado==5.1.1
google-api-python-client==1.7.7
oauth2client==4.1.2
SpeechRecognition==3.8.1
numpy==1.16.1
requests==2.7.0
Pillow==6.0.0
opencv-python==4.1.0.25